* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}
body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 77px 1fr 77px;
  color: #333333;
}
.menu {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px 0 42px;
  border-bottom: 1px #f0f0f0 solid;
}

.menu__logo {
  width: 108px;
  height: 27px;
  margin-right: 21px;
}
.menu__item:visited, .menu__item:link{
  color:#333;
}
.menu__item {
  text-decoration: none;
  margin-right: 28px;
  font-size: 16px;
  opacity: 0.6;
  font-weight: bold;
}
.menu__item.menu__item_active {
  opacity: 1;
}
.munu__mobile-button {
  width: 16px;
  height: 14px;
  display: none;
}
.footer {
  font-size: 12px;
  color: #858585;
  letter-spacing: 0.01px;
  align-items: center;
  padding: 0 40px 0 40px;
  display: flex;
  justify-content: space-between;
  border-top: 1px #f0f0f0 solid;
}
.footer__element {
  margin-right: 15px;
}

.main {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  margin-bottom: 80px;
}

.main__container {
  grid-column: 3 / 15;
  display: grid;
  grid-template-rows: 107px 1fr;
}
.main__title {
  font-size: 34px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.menu__collaps-block {
  flex-grow: 1;
}

@media (max-width: 1370px) {
  .main__title {
    font-size: calc((100vw - 375px) / (1370 - 375) * (36 - 24) + 24px);
  }
}
@media (max-width: 1250px) {
  .main__container {
    grid-column: 2 / 16;
  }
}

@media (max-width: 706px) {
  body {
    grid-template-rows: 77px 1fr;
  }
  .footer {
    display: none;
  }
  .menu {
    border: none;
    justify-content: space-between;
    padding: 0 20px 0 20px;
  }
  .menu__collaps-block {
    display: none;
  }
  .munu__mobile-button {
    display: block;
  }
  .main__container {
    grid-column: 1 / 17;
    grid-template-rows: 65px 1fr;
    padding: 0 20px 0 20px;
  }
}

.main{
  height: 100%;
  position: relative;
}
.all-video-container{
  display: grid;
  grid-template-columns: 600px 600px;
  grid-auto-rows: 337.5px;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  grid-gap: 20px;

}
#main_canvas{
  width: 100%;
}
.canvas__container{
  margin: auto;
  width:60%;
}
#start{
  background: wheat;
  height: 5px;
}
.video{
  width: 100%;
  height: 100%;
  background: black;
}
.video__fullscreen-conatiner{
  display: flex;
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.473);
}
@media (max-width: 1613px) {
  .all-video-container{
    grid-template-columns: 500px 500px;
    grid-auto-rows: 281.25px;
  }
}
@media (max-width: 1105px) {
  .all-video-container{
    grid-template-columns: 400px 400px;
    grid-auto-rows: 225px;
  }
}
@media (max-width: 913px) {
  .video{
    height:unset;
  }
  .all-video-container{
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}

/* @media (max-width: 1000px) {
  .video{
    height: unset;
  }
} */